---
import { PROJECTS } from '../data/Projects';
import { CodeIcon } from '../icons';

import ProjectItem from './ProjectItem.astro';
import SectionHeader from './SectionHeader.astro';
---

<section class="w-full">
  <SectionHeader title="Enterprise Projects">
    <CodeIcon class="size-8 fill-blue-400 dark:fill-slate-200" />
  </SectionHeader>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-x-10 md:gap-y-16">
    {PROJECTS.map(project => <ProjectItem project={project} />)}
  </div>
</section>
